<ion-view title="单股最新行情">
  <ion-content class="has-header">
    <div class="col">
    <h1>股票名称:{{ title }}-- {{ stockNum }}</h1>
    <p>今日开盘价: {{show.opening_price }}</p>
    <p>昨日收盘价: {{show.closing_price }}</p>
    <p>当前价格: {{ show.now_price }}</p>
    <p>今日最高价: {{ show.high_price }}</p>
    <p>今日最低价: {{ show.low_price }}</p>
    <p>成交总股数: {{ show.amount }}</p>
    <p>成交总金额: {{ show.money }}</p>
    <p>买一申报股数: {{ show.onebuy_amount }}</p>
    <p>买一报价: {{ show.onebuy_price }}</p>
    <p>买二申报股数: {{ show.twobuy_amount }}</p>
    <p>买二报价: {{ show.twobuy_price }}</p>
    <p>买三申报股数: {{ show.threebuy_amount }}</p>
    <p>买三报价: {{ show.threebuy_price }}</p>
    <p>买四申报股数: {{ show.fourbuy_amount }}</p>
    <p>买四报价: {{ show.fourbuy_price }}</p>
    <p>买五申报股数: {{ show.fivebuy_amount }}</p>
    <p>买五报价: {{ show.fivebuy_price }}</p>
    <p>卖一申报股数: {{ show.onesell_amount }}</p>
    <p>卖一报价: {{ show.onesell_price }}</p>
    <p>卖二申报股数: {{ show.twosell_amount }}</p>
    <p>卖二报价: {{ show.twosell_price }}</p>
    <p>卖三申报股数: {{ show.threesell_amount }}</p>
    <p>卖三报价: {{ show.threesell_price }}</p>
    <p>卖四申报股数: {{ show.foursell_amount }}</p>
    <p>卖四报价: {{ show.foursell_price }}</p>
    <p>卖五申报股数: {{ show.fivesell_amount }}</p>
    <p>卖五报价: {{ show.fivesell_price }}</p>
    <p>日期：{{ show.date }}</p>
    <p>时间: {{ show.time }}</p>
    </div>
  </ion-content>
</ion-view>

